:root {
    --white:#fdfcfc;
    --darkwhite:#FCF9F9;
    --fontcolor:#000000;
    --skyblue:#2E5CFF;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

/* Styling header */

.header {
    background-color: var(--skyblue);
    border: 1px solid var(--skyblue);
    backdrop-filter: blur(2px);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header, h1 {
    
    margin: 0;
    color: var(--white);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Home */

.Fcontainer {
    background-color: var(--white);
    max-width: fit-content;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    
}

.datacontainer {
    width: fit-content;
    height: fit-content;
    border-radius: 13px;
    border: 1px solid #474D61;
    background: var(--darkwhite);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.datacontainer, input {
    min-height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid;
    text-align: center;
    font-size: 20px;
}

.Date {
    color: #090000;
    text-align: center;
     font-family: Inter;
    font-size: 16px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     padding:10px;
}

.datacontainer, label {
    color: #100303;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding: 10px;
}

/* Add button styling */
.Addbutton, .Calculatebutton {
    height: 60px;
    margin: 0 auto;
    border: none;
    /* Remove the border */
    background-color: var(--skyblue);
    /* Use the --skyblue color */
    color: var(--white);
    /* Text color */
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}


.Calculatebutton {
    margin: 20px;
}

.Addbutton:hover, .Calculatebutton:hover {
    background-color: #1c48ff;
    /* Change color on hover */
    transform: scale(1.05);
    /* Scale up a bit on hover */
}


.bill-input {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: 20px;
}


.delete-icon {
    color: #ff0000;
    
    font-size: 24px;
   
    cursor: pointer;
 
    margin-right: 8px;
   
}

/* Add projected savings styling */

.PiechartDiv {
    display: block;
    text-align: center;
}

.Totalprojectedsavings {

}

.Totalprojectedsavings {
    
    min-height: 50px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: 1px solid;
        text-align: center;
        font-size: 20px;
}

/* Add this media query to apply flex column layout when the width is less than 600px */
@media (max-width: 600px) {
    .Fcontainer {
        flex-direction: column;
        align-items: center;
        /* Center the content vertically when in column layout */
    }

    .datacontainer {
        margin-right: 0;
        /* Remove the right margin */
    }
}